In [139]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import csv,json, re,os

In [185]:
# Sort race files
def key_func(afilename):
    nondigits = re.compile("\D")
    return int(nondigits.sub("", afilename))

# Store dfs
df_list = []

# Dates
dates = ["29/12/2019", "26/12/2019", "21/12/2019", "18/12/2019", "15/12/2019", "11/12/2019", "08/12/2019",
 "04/12/2019", "01/12/2019", "27/11/2019", "23/11/2019", "20/11/2019", "17/11/2019", "09/11/2019",
  "06/11/2019", "03/11/2019", "30/10/2019", "27/10/2019", "23/10/2019", "20/10/2019", "16/10/2019",
   "12/10/2019", "09/10/2019", "01/10/2019", "25/09/2019", "21/09/2019", "15/09/2019", "11/09/2019",
     "01/09/2019", "14/07/2019", "10/07/2019", "07/07/2019", "03/07/2019", "01/07/2019", "26/06/2019", "23/06/2019",
      "16/06/2019", "05/06/2019", "29/05/2019", "22/05/2019", "15/05/2019", "11/05/2019", "08/05/2019", "05/05/2019",
       "01/05/2019", "28/04/2019", "22/04/2019",  "07/04/2019","03/04/2019", "31/03/2019", "24/03/2019", "23/03/2019", "20/03/2019",
        "17/03/2019", "13/03/2019", "10/03/2019", "06/03/2019", "02/03/2019", "27/02/2019",
         "24/02/2019", "17/02/2019", "13/02/2019","10/02/2019", "07/02/2019", "02/02/2019", "30/01/2019", "27/01/2019",
          "23/01/2019", "20/01/2019", "16/01/2019", "12/01/2019", "09/01/2019", "06/01/2019", "01/01/2019",
           "29/12/2018", "26/12/2018", "23/12/2018", "19/12/2018", "16/12/2018", "12/12/2018", "09/12/2018",
            "05/12/2018", "02/12/2018", "28/11/2018", "25/11/2018", "21/11/2018", "18/11/2018", "14/11/2018", "10/11/2018", "07/11/2018",
             "04/11/2018", "31/10/2018", "28/10/2018", "24/10/2018", "21/10/2018",  "18/10/2018",
              "13/10/2018", "10/10/2018", "01/10/2018", "26/09/2018", "22/09/2018", "12/09/2018",
               "09/09/2018", "05/09/2018", "02/09/2018"]

count = 0

for file in sorted(glob.glob('./data/races*.csv'), key=key_func):
    temp_df = (pd.read_csv(file))
    temp_df["date"] = dates[count]
    count+=1
    df_list.append(temp_df)

# Return df
df = pd.concat(df_list)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:35: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [186]:
# Rename and reorder columns
cols = df.columns.tolist()
cols = [str(y) for y in sorted([int(x) for x in cols[:-1]])]
cols.append('date')
df = df[cols]
df.columns = ['race_no', 'going', 'race_type', 'plc', 'horse_no', 'horse_name', 'jockey_name', 'trainer_name',
              'actual_wt', 'declared_wt', 'draw', 'lbw', 'running_pos', 'finish_time', 'public_odds', 'date']

In [188]:
# Clean headers
df["race_id"] = [x.split('(')[1][:-1] for x in df.race_no]
df["race_no"] = [re.sub(' ', '_',x.split('(')[0][:-1]) for x in df.race_no]
df["race_dist"] = [x.split("-")[1].strip().replace(' ','_').upper()[:-1] for x in df.race_type]
df["race_type"] = [x.split("-")[0].strip().replace(' ','_').upper() for x in df.race_type]
df["horse_id"] = [x.split("(")[1].strip()[:-1] for x in df.horse_name]
df["horse_name"] = [x.split("(")[0].strip().replace(" ", "_") for x in df.horse_name]

In [190]:
df.head()

,race_no,going,race_type,plc,horse_no,horse_name,jockey_name,trainer_name,actual_wt,declared_wt,draw,lbw,running_pos,finish_time,public_odds,date,race_id,race_dist,horse_id
0,RACE_1,GOOD,RESTRICTED_RACE,1,2.0,RICH_AND_LUCKY,Z Purton,L Ho,120,1066,5,-,3 4 3 1,1:22.73,1.7,29/12/2019,284,1400,C413
1,RACE_1,GOOD,RESTRICTED_RACE,2,7.0,KING_DRAGON,S de Sousa,K L Man,120,1078,4,3/4,2 2 1 2,1:22.87,11,29/12/2019,284,1400,C437
2,RACE_1,GOOD,RESTRICTED_RACE,3,6.0,INVALUABLE,C Schofield,R Gibson,120,1297,1,1-1/2,6 6 7 3,1:22.97,6.3,29/12/2019,284,1400,D091
3,RACE_1,GOOD,RESTRICTED_RACE,4,8.0,KELMIMI_WINS,A Badel,C H Yip,120,1087,3,3-1/4,5 7 5 4,1:23.24,26,29/12/2019,284,1400,C419
4,RACE_1,GOOD,RESTRICTED_RACE,5,5.0,VICTORY_FOR_ALL,T H So,Y S Tsui,120,1022,2,5,4 3 4 5,1:23.51,147,29/12/2019,284,1400,C342